html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.container, .footer {
    padding: 0 10px 10px 10px;
}
.menu, /*.content,*/ .footercontent{
    margin: 0;
    padding: 10px;
    border: 10px;
    display: flex;
    justify-content: end;
    background-color: white;
}
.menu_link {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_link2 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    margin: 0;
    padding: 10px;
    border: 10px;
    background-color: white;
    text-align: center;
}


.content_ul {
    display: flex;
    justify-content: center;
    padding: 0;
}
.menu_item {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    margin-left: 40px;
    background-color: rgb(60, 255, 0);
}
/*.content,*/ .footercontent{
    justify-content:center;
    margin: 0;
    padding: 10px;
    border: 10px;
    display: flex;
    text-align: center;
    /* background-color: white; */
}
.big_menu {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border: 1px solid black;
    background-color: rgb(60, 255, 0);
    justify-content: center;
}
#introduce{
    margin: 0 0 10px 30px;
    padding: 0;
    text-align: left;
}

.photo1, .photo2{
    align-items: center;
    text-align: left;
    /* position: relative; */
    border-bottom: 1px solid black;
    position: relative;
}

.photo2 {
    border-bottom: none;
}

.img_1, .img_2{
    width: 400px;
    height: 300px;
    position: relative;
    text-align: center;
    display: inline;
    border: 10px solid gray;
    margin: 60px;
}

.explain1, .explain2{
    display: inline-block;
    position: absolute;
    top: 70px;
    right: 50px;
    left: 500px;
    bottom: 50px;
}

header {
    padding: 10px;
    height: 10%;
}
ul {
    list-style: none;
}
section {
    padding: 10px;
    height: 70%;
    /* background-color: white; */
}
footer {
    height: 10%;
    /* background-color: white; */
}
body {
    height: 100%;
    background-color: aqua;
}